.tytle{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.input-box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-size-tytle{
    font-size: 1.5em;
}

.mat-size-range, .mat-size-text{
    margin-top: 10px;
}

.mat-container{
    padding-top: 20px;
    width: 70vh;
    height: 70vh;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    width: 100%;
}

.col{
    width: 100%; 
    aspect-ratio: 1;
    border: 1px solid black;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}